@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/admin-side/js/jquery.twbsPagination.js"></script>
    <script src="~/admin-side/plugins/jquery-easyui-1.9.9/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product/quantity-product-management.js"></script>
    <script src="~/app/controllers/product/whole-price-product.js"></script>
    <script src="~/app/controllers/product/product-image.js"></script>
    <script src="~/app/controllers/product/index.js"></script>
    <script>
        var product = new productController();
        product.initializer();
    </script>
}

@section Styles {
    <link href="~/admin-side/plugins/jquery-easyui-1.9.9/themes/material-blue/easyui.css" rel="stylesheet" />
    <link href="~/admin-side/plugins/jquery-easyui-1.9.9/themes/icon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/admin-side/plugins/modal/css/component.css">
    <link href="~/app/controllers/product/index.css" rel="stylesheet" />
}
<div class="card" id="resp-table">
    <ul id="breadcrumb-triangle">
        <li><a href="#"><span class="icofont icofont-home"> </span></a></li>
        <li><a href="#"><span class="icofont icofont-flask"> </span> Home</a></li>
        <li><a href="#"><span class="icofont icofont-double-right"></span> Product</a></li>
        <li><a href="#"><span class="icofont icofont-rocket-alt-2"> </span> Product List</a></li>
    </ul>
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 form-group ">
                <label>Search</label>
                <div class="input-group">
                    <input id="txtKeyword" type="text" class="form-control" placeholder="Input to search...">
                    <span class="input-group-btn" id="btn-addon2">
                        <button type="button" id="btnSearch" class="btn btn-primary shadow-none addon-btn waves-effect waves-light">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <label>Category</label>
                <select class="form-control " id="ddlCategorySearch">
                    <option>-- Choose Category --</option>
                </select>
            </div>
            <div class="col-md-6 form-group text-right">
                <label></label><br />
                <span>
                    <button class="btn btn-primary waves-effect waves-light" id="btnCreate">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </button>
                    <a class="btn btn-skype waves-effect waves-light" title="Download Template" id="btnDownloadTemplate" href="~/templates/ProductImportTemplate.xlsx">
                        <i class="fa fa-cloud-download pr-0" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-success waves-effect waves-light" title="Import Excel" id="btnImportExel">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-info waves-effect waves-light" title="Export Excel" id="btnExportExel">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
            <div class="table-responsive" data-pattern="priority-columns">
                <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered">
                    <thead>
                        <tr>
                            <th data-priority="1">Name</th>
                            <th data-priority="1">Price</th>
                            <th data-priority="3">Created Date</th>
                            <th data-priority="4">Status</th>
                            <th data-priority="5" class="w-20vw">Method</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-body">
                    </tbody>
                </table>
            </div>
        </div>

        @*Paging*@
        <div class="row align-items-center">
            <div class="col-12 col-sm-6">
                <div class="dataTables_info" id="database-checkbox_info" role="status" aria-live="polite">
                    <span class="item-per-page">Display: </span>
                    <select id="ddlShowPage" class="custom-dropbox">
                        <option value="10" selected="selected">10</option>
                        <option value="20">20</option>
                        <option value="20">30</option>
                        <option value="20">50</option>
                    </select> / total records: <strong id="lblTotalRecords"></strong>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="datatabl3e-checkbox_paginate">
                    <ul id="paginationUL" class="justify-content-end"></ul>
                </div>
            </div>
        </div>
    </div>

    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{dateCreated}}</td>
            {{#isActive}}
            <td><label class="label bg-primary">{{status}}</label></td>
            {{/isActive}}
            {{ ^isActive}}
            <td><label class="label bg-danger">{{status}}</label></td>
            {{/isActive}}
            <td>
                <button class="btn btn-primary waves-effect btn-edit" title="Edit" data-id={{id}}>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="btn btn-success waves-effect btn-quantity-management" title="Quantity Manage" data-id={{id}}>
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                </button>
                <button class="btn btn-dark waves-effect btn-image-management" title="Image Manage" data-id={{id}}>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </button>
                <button class="btn btn-outline-primary waves-effect btn-whole-price" title="Whole Price Manage" data-id={{id}}>
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger waves-effect btn-delete" title="Delete" data-id={{id}}>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </script>

    @Html.Partial("_AddEditProduct.cshtml")
    @Html.Partial("_ImportExcelModal.cshtml")
    @Html.Partial("_QuantityManagermentModal.cshtml")
    @Html.Partial("_ProductImageModal.cshtml")
    @Html.Partial("_WholePriceModal.cshtml")